.github/source-code/src-v1.0/Web References/NtstWsvcLiveQuery/WEBSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="SubmitQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="SystemCode" type="s:string" />
            <s:element minOccurs="0" name="UserName" type="s:string" />
            <s:element minOccurs="0" name="Password" type="s:string" />
            <s:element minOccurs="0" name="query" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SubmitQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitQuerySoapIn">
    <wsdl:part name="parameters" element="s0:SubmitQuery" />
  </wsdl:message>
  <wsdl:message name="SubmitQuerySoapOut">
    <wsdl:part name="parameters" element="s0:SubmitQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="QuerySoap">
    <wsdl:operation name="SubmitQuery">
      <wsdl:input message="s0:SubmitQuerySoapIn" />
      <wsdl:output message="s0:SubmitQuerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuerySoap" type="s0:QuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitQuery">
      <soap:operation soapAction="http://tempuri.org/WEBSVC.Query.SubmitQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Query">
    <wsdl:port name="QuerySoap" binding="s0:QuerySoap">
      <soap:address location="https://spectrumcsp.netsmartcloud.com/csp/spectrum/avpm/WEBSVC.Query.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>